---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca del sitio">
  <h1 class="text-4xl text-red-400">About</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus velit
    maiores architecto aperiam at cupiditate obcaecati, voluptatem quibusdam
    repellendus magnam aliquam, explicabo recusandae magni ea veniam inventore
    animi blanditiis totam a. Aut, iste eos fugiat iusto odio tempora placeat
    magni! Quidem omnis recusandae delectus nemo dolores a, necessitatibus,
    placeat voluptatum quas, quam odit quae cumque optio nam esse? Esse iure
    illum ducimus praesentium adipisci ipsum tempore nulla maiores optio
    voluptas veritatis, culpa id voluptate sunt, officiis placeat odio earum,
    sed explicabo aspernatur. Quisquam inventore similique exercitationem
    incidunt odit. Aliquid hic voluptatem accusamus sapiente natus, unde
    explicabo debitis accusantium deserunt minus!
  </p>
</Layout>
